# Dependencies
node_modules/
.pnpm-store/
bun.lockb

# Build outputs
dist/
build/
.output/
.vinxi/
.tanstack/

# Environment files & secrets
.env
.env.*
!.env.example
*.pem

# Logs & Runtime
*.log
*.pid
**/*.pid
pid.*
**/pid.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & IDE files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local test scratch
scratch/
